RewriteEngine On
Options +FollowSymLinks
#Ligne suivante à effacer sur un site final (accès aux répertoires)
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^([a-zA-Z0-9_\-]+)/?$ index.php?page=$1 [L,QSA]

RewriteRule ^home/(.+)/(.+)/?$ index.php?page=home&category=$1&topic=$2 [L]

RewriteRule ^home/(.+)/?$ index.php?page=home&category=$1 [L]

RewriteRule ^messages/(.+)/?$ index.php?page=messages&id=$1 [L]

RewriteRule ^gestion/(.+)/?$ index.php?page=gestion&id=$1& [L]

RewriteRule ^topic/(.+)/?$ index.php?page=topic&id=$1 [L,QSA]

RewriteRule ^membre/([a-zA-Z0-9_\-]+)/?$ index.php?page=membre&id=$1 [L]