*{box-sizing: border-box;}

img{max-width: 100%;}

/*CSS JMICHEL*/



/*CSS JEROME*/
body{
	font-family: Roboto;
	font-weight: 400;
	font-size: 1.5em;
}

header{
	background: url('../img/viandes3.jpg') center center no-repeat;
	min-height: 200px;
	text-align: center;
}

header h1{
	text-transform: uppercase;
	color: #DDD;
	font-size: 5em;
}

.chemin, .add, .messages-content, .messages-modif{
	padding: 5px;
}

.messages-modif{text-align: center;}

/*CSS LAURENT*/