*{box-sizing: border-box;}

img{max-width: 100%;}

/*CSS JMICHEL*/

.categories
{
	border: 2px solid #222;
	padding: 15px 10px;
	background: #CC5251;
	margin-bottom: 5px;
	box-shadow: 3px 3px 0px #333;
}

.categories a
{
	color: white;
	text-transform: uppercase;
	font-size: 1.5em;
}
.categories a:hover
{
	text-decoration: none;
}
.categories a:hover::after
{
	content: " →";
}

.tchat
{
	border: 2px solid #333;
	background: #eee;
	padding: 10px;
	height: 500px;
	margin-bottom: 5px;
}

.tchat_date
{
	font-size: 0.7em;
}

.tchat_auteur
{
	font-weight: bold;
	color: #5B0300;
}

.tchat_message
{
	font-size: 0.9em;
}


/*CSS JEROME*/
body{
	font-family: Roboto;
	font-weight: 400;
	font-size: 1.5em;
}

header{
	background: url('../img/viandes3.jpg') center center no-repeat;
	background-size: cover;
	min-height: 200px;
	text-align: center;
}

header h1{
	text-transform: uppercase;
	color: #DDD;
	font-size: 5em;
}

.chemin, .add, .messages-content, .messages-modif{
	padding: 5px;
}

.messages-modif{text-align: center;}

.chemin p{
	font-size: 2em;
}

.chemin a, .chemin p, .gestion h1{
	color: #AE3635;
}

.chemin a{
	text-decoration: underline;
}

.wrapper-droits{
	padding: 5px;
}

.wrapper-droits p{
	margin: 0;
	padding: 5px;
}

/*CSS LAURENT*/

.topic-remove{
	margin-right : 10px;
}

.topic-header{
	background: #222222;
	color: #FFF;
	margin: 20px 0 10px 0;
}

.topic-header div{
	padding: 5px 10px;
}


.topic-modify a{
	color: #FFF;
}